In [3]:
#Arithematic operatins

In [28]:
import numpy as np

In [29]:
a = np.array([10,10,10])
b = np.array([5,5,5])

In [6]:
a + b

array([15, 15, 15])

In [7]:
a - b

array([5, 5, 5])

In [8]:
a * b

array([50, 50, 50])

In [9]:
a / b

array([2., 2., 2.])

In [10]:
a % b

array([0, 0, 0], dtype=int32)

In [11]:
a % 3

array([1, 1, 1], dtype=int32)

In [12]:
a < 35

array([ True,  True,  True])

In [13]:
b > 30

array([False, False, False])

In [14]:
a >35

array([False, False, False])

In [15]:
#Squaring operations

In [16]:
a ** 2

array([100, 100, 100], dtype=int32)

In [17]:
a **3

array([1000, 1000, 1000], dtype=int32)

In [19]:
#REQ - To modify 'a' value into 30

In [24]:
a = ([10,10,10])

In [25]:
a = a*3

In [26]:
a

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [30]:
a *=3

In [31]:
a

array([30, 30, 30])

In [32]:
b +=a

In [33]:
b

array([35, 35, 35])

In [34]:
#Unary operators

In [35]:
ages = np.array([12,15,17,22,26,30])

In [36]:
#to find the total sum of an array?

In [37]:
ages.sum()

122

In [38]:
#to find the max and min value from the given array

In [39]:
ages.max()

30

In [40]:
ages.min()

12

In [41]:
numbers = np.arange(12).reshape(3,4)
numbers

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [42]:
numbers.shape

(3, 4)

In [46]:
#Sum of each column ---> In a 2d array    axis 0->columns   axis 1 --> rows

In [45]:
numbers.sum(axis=0)

array([12, 15, 18, 21])

In [47]:
numbers.sum(axis=1)

array([ 6, 22, 38])

In [48]:
#to find the min value of each row

In [50]:
numbers.min(axis=1)

array([0, 4, 8])

In [51]:
numbers.max(axis=1)

array([ 3,  7, 11])

In [52]:
numbers.min(axis=0)

array([0, 1, 2, 3])

In [54]:
numbers.max(axis=0)

array([ 8,  9, 10, 11])