In [1]:
#Understanding the concepts of Data Frame

In [2]:
#Create a empty dataframe

In [3]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
#Creating a DataFrame from a list

In [8]:
data  = [1,2,3,4,5]

In [9]:
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
data1  = ['a', 'b', 'c', 'd', 'e']

In [12]:
df = pd.DataFrame(data1)
print(df)

   0
0  a
1  b
2  c
3  d
4  e

In [13]:
#creating a DataFrame from a dict of ndarray/list

In [15]:
data = {'Name':['Santosh', 'Satya', 'Neha', 'Ashok', 'Diksha'],
        'Marks':[40, 44, 45 ,42, 48]
       }

In [16]:
df = pd.DataFrame(data)
df

      Name  Marks
0  Santosh     40
1    Satya     44
2     Neha     45
3    Ashok     42
4   Diksha     48